@model IEnumerable<IS_CS.Models.Uzsakyma>

@{
    ViewBag.Title = "Registracija grąžinimui";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        <h2 id="pageTitle">Prekių registracija grąžinimui:</h2>
        <form action="#" method="get" id="forma">
            <fieldset>
                <legend>Prekės grąžinimo forma:</legend>
                Grąžinimo priežastis:<br>
                <input type="radio" name="priezastis" value="bloga" checked> Boga kokybė<br>
                <input type="radio" name="priezastis" value="neta"> Gauta ne ta prekė<br>
                <input type="radio" name="priezastis" value="pazeista"> Pažeista prekė<br>
                <input type="radio" name="priezastis" value="nemokamas"> Nemokamas 14d. grąžinimas<br><br>
                <br>
                Grąžinamo užsakymo nr:<br>
                <select>
                    @foreach (var item in Model)
                    {
                        if (item.fk_Grazinimo_nr == null)
                        {


                            <option name="uzsakymas" value=@Html.DisplayFor(modelItem => item.uzsakymo_id)>@Html.DisplayFor(modelItem => item.uzsakymo_id)</option>

                        }
                    }
                </select><br><br>

                <label>Platesnis grąžinimo priežasties aprašymas:<br></label>
                <textarea name="aprasymas" id="aprasymas" rows="6" cols="60" class="field-long field-textarea"></textarea>
            </fieldset>
        </form><br><br>
        <button type="submit" form="forma" value="Submit">Pateikti</button>
    </div>
}

